  <div class="container center">
    <!-- TODO refactor this shitty inline style -->
    <div  class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 50px; solid #EEE;">
      <div class="section">
        <%= t('.sign_in', :default => "Sign in") %>
      </div>
      
      <div class="section"><i class="mdi-alert-error red-text"></i></div>
      
      <!-- BEGIN FORM -->
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.label :email, class: "validate" %><br />
          <%= f.email_field :email, required: true %>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col m12'>
          <%= f.label :password, class: "validate" %><br />
          <%= f.password_field :password, required: true %>
        </div>
        
      </div>
      <br/>
      
      <div class='row'>
        <%= f.submit t('.sign_in', :default => "Sign in"), class: "center btn btn-small waves-effect z-depth-1 y-depth-1" %>
      </div>
      <% end %>
      <!-- END FORM -->

      <%= render "devise/shared/links" %>
      
    </div>
  </div>