<!-- Start  Header -->
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">umdois</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><%= link_to "LOJA", "https://www.lojaumdois.com.br"%></li>
                    <li><%= link_to "FOTOS", "https://www.instagram.com/canalumdois"%></li>
                    <li><%= link_to "VIDEOS", "https://www.youtube.com/umdoiscanal"%></li>
                    <li><%= link_to "PODCAST", "https://open.spotify.com/show/2McOI9VBsVzlpLhtlBuyzx"%></li>
                    <li><a>BIBLIOTECA</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><%= link_to "LOJA", "https://www.lojaumdois.com.br"%></li>
        <li><%= link_to "FOTOS", "https://www.instagram.com/canalumdois"%></li>
        <li><<%= link_to "VIDEOS", "https://www.youtube.com/umdoiscanal"%></li>
        <li><%= link_to "PODCAST", "https://open.spotify.com/show/2McOI9VBsVzlpLhtlBuyzx"%></li>
        <li><a>BIBLIOTECA</a></li>
    </ul>
</header>
<!-- End  Header -->

<!-- Start  Parallax -->

<div class="parallax-container">
    <div class="parallax">
        <%= image_tag("banner.jpg") %>
    </div>
</div>

<!-- End  Parallax -->